
#daviimagem {

padding-left: 780px;
}

#daviimagem2 {

padding-left: 780px;
}

#daviimagem3 {

    padding-left: 780px;
}

body {

background: #000000;

}

.davi08 {

    color: aliceblue;
}